Overall Process

    Reading Source Data and Preprocessing
    Data formatting
    Scaling
    Split the data into Train and test
    Create & Compile model
    Train
    Predict
    Error metrics

In [143]:
#import all necessary libraries
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [144]:
#Mount google drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Reading source data and preprocessing

In [145]:
#read Phenotype metadata file from drive
df = pd.read_csv('/content/gdrive/My Drive/ResearchProject/dat/Phenotypes/Phenotypic_V1_0b_preprocessed1.csv')
#df.head(10)

In [146]:
#keep only necessary columns
df1 = df[['SUB_ID','DX_GROUP']]
df1.head(5)

   SUB_ID  DX_GROUP
0   50002         1
1   50003         1
2   50004         1
3   50005         1
4   50006         1

In [147]:
df1.shape

(1112, 2)

In [148]:
#read ROI = Region of Interest data file
file_name = "/content/gdrive/My Drive/ResearchProject/dat/Caltech_0051456_rois_cc200.1D"
data_df = pd.read_csv(file_name,delimiter='\t')
data_df.head(2)

         #1        #2        #3  ...      #198      #199      #200
0  0.726714 -6.220083 -0.105500  ... -0.091448 -2.531757  4.341991
1  0.769439  3.998010 -1.046632  ... -0.013286 -5.128482 -0.085926

[2 rows x 200 columns]

In [149]:
#add SUB_ID column to the dataframe, based on name of the file
data_df['SUB_ID'] = os.path.basename(file_name)[10:15]
data_df.head(2)

         #1        #2        #3        #4  ...      #198      #199      #200  SUB_ID
0  0.726714 -6.220083 -0.105500  0.827082  ... -0.091448 -2.531757  4.341991   51456
1  0.769439  3.998010 -1.046632  2.548084  ... -0.013286 -5.128482 -0.085926   51456

[2 rows x 201 columns]

In [150]:

data_df1 = data_df.apply(lambda x: pd.to_numeric(x, errors='coerce'))
data_df1.head(2)

         #1        #2        #3        #4  ...      #198      #199      #200  SUB_ID
0  0.726714 -6.220083 -0.105500  0.827082  ... -0.091448 -2.531757  4.341991   51456
1  0.769439  3.998010 -1.046632  2.548084  ... -0.013286 -5.128482 -0.085926   51456

[2 rows x 201 columns]

In [151]:
#merge phenotype data frame with actual dataframe inorder to get the classification column = DX_GROUP merged
merged = pd.merge(data_df1,df1, left_on='SUB_ID',right_on='SUB_ID',how='inner')
merged.drop('SUB_ID', axis=1, inplace=True)
merged.head(2)

         #1        #2        #3  ...      #199      #200  DX_GROUP
0  0.726714 -6.220083 -0.105500  ... -2.531757  4.341991         1
1  0.769439  3.998010 -1.046632  ... -5.128482 -0.085926         1

[2 rows x 201 columns]

In [152]:
#scale the values between 0 and 1 using min max scaler
scaler=MinMaxScaler(feature_range=(0,1))
scaled=scaler.fit_transform(np.array(merged))
scaled.shape
#len(scaled)

(146, 201)

In [153]:
##splitting dataset into train and test (70-30)
train_data_percent = 0.70
training_size=int(len(scaled)*train_data_percent)
test_size=len(scaled)-training_size

#print(training_size,test_size)
train_data,test_data=scaled[0:training_size,:],scaled[training_size:len(scaled),:]
#print(train_data)
#print(test_data)

x_train,y_train=train_data[:,0:200],train_data[:,200:]
#print(x_train)
#print(y_train)


x_test,y_test=test_data[:,0:200],test_data[:,200:]
#print(x_test)
#print(y_test.shape)

In [154]:
#check the shape
print(x_train.shape), print(y_train.shape)

(102, 200)
(102, 1)

(None, None)

In [155]:
#check the shape
print(x_test.shape), print(y_test.shape)

(44, 200)
(44, 1)

(None, None)

In [156]:
#RandomForest model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)
model.fit(x_train, y_train.ravel())
train_predict = model.predict(x_train)
test_predict = model.predict(x_test)

In [157]:
### Calculate RMSE performance metrics
import math
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_train,train_predict))

0.0

In [158]:
### Test Data RMSE
math.sqrt(mean_squared_error(y_test,test_predict))

0.0